@import "tailwindcss";

@layer base {
  html, body {
    height: 100%;
    overscroll-behavior-y: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }

  /* Support for iOS safe area notch and bottom home indicator bar */
  .safe-bottom {
    padding-bottom: env(safe-area-inset-bottom, 16px);
  }
  
  .safe-top {
    padding-top: env(safe-area-inset-top, 0px);
  }
}
